body {
    font-family: Arial, sans-serif;
    background-color: #FFD59F;
    margin: 0;
    padding: 0;
    cursor: url('/static/Capa18.png'), auto;
}

a:hover {
    cursor: url('/static/Capa17.png'), auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.button img {
    width: 150px;
    height: auto;
    transition: transform 0.2s;
}

.button:hover img {
    transform: scale(1.1);
}
