<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yonko</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1><img src="/static/nombreyonkogif.gif" alt="Yonko"></h1>

    <div class="social-icons">
        {% if links.youtube %}
        <a href="{{ links.youtube }}" target="_blank"><img src="/static/Capa13.png" alt="YouTube"></a>
        {% endif %}
        {% if links.spotify %}
        <a href="{{ links.spotify }}" target="_blank"><img src="/static/Capa15.png" alt="Spotify"></a>
        {% endif %}
    </div>

    <div class="row">
        <div class="column">
            <p><img src="/static/personajepequeño1gif.gif" alt="Personaje"></p>
        </div>
        <div class="column">
            <div class="button">
                <a href="#"><img src="/static/yonkonews.png" alt="Animation"></a>
                <a href="#"><img src="/static/yonkonews2.png" class="img-top" alt="Animation Hover"></a>
            </div>
            <div class="button">
                <a href="#"><img src="/static/webYonkoshitOption.png" alt="Storyboard"></a>
                <a href="#"><img src="/static/webYonkoshitOption2.png" class="img-top" alt="Storyboard Hover"></a>
            </div>
        </div>
    </div>

    <form action="/registrar_email" method="POST">
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="text" name="first_name" placeholder="Nombre" required>
        <input type="text" name="last_name" placeholder="Apellido" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
